#[submodule "lib/kitty"]
#	path = lib/kitty
#	url = https://github.com/msoeken/kitty
#[submodule "lib/alice"]
#	path = lib/alice
#	url = https://github.com/msoeken/alice
#[submodule "lib/lorina"]
#	path = lib/lorina
#	url = https://github.com/hriener/lorina.git
#[submodule "lib/abc"]
#	path = lib/abc
#	url = https://github.com/msoeken/abc.git
#[submodule "lib/percy"]
#	path = lib/percy
#	url = https://github.com/whaaswijk/percy
[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/lsils/mockturtle.git
[submodule "lib/alice"]
	path = lib/alice
	url = https://github.com/msoeken/alice.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
