p cnf 40 40
1 2 0
c dsafdsf
3 4 5 -2 0
x -1 0
c Solver::solve( -1 2 3 )
3 4 0
c Solver::simplify( -2 )
x -5 0
c Solver::solve( )
10 -3 0
c Solver::new_var( )
5 -3 0
c Solver::simplify( )
c Solver::new_vars( 30 )
