on:
  - push

jobs:
  osx-compat:
    runs-on: macos-latest
    name: Build compatibility with Apple Clang
    env:
      CC: /Library/Developer/CommandLineTools/usr/bin/clang
      CXX: /Library/Developer/CommandLineTools/usr/bin/clang++
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Build
        run: |
          cmake -DCMAKE_BUILD_TYPE=RELEASE -B build .
          cmake --build build -j$(nproc)
  centos-compat:
    runs-on: ubuntu-latest
    name: Build compatibility ${{ matrix.config.name }} centos7
    container: ghcr.io/lnis-uofu/lsoracle-build:centos7
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: gcc-8
            scl: /opt/rh/devtoolset-8/enable
            cc: gcc
            cxx: g++
          - name: clang-7
            scl: /opt/rh/llvm-toolset-7.0/enable
            cc: clang
            cxx: clang++
    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Build
        run: |
          source ${{ matrix.config.scl }}
          cmake -DCMAKE_BUILD_TYPE=RELEASE -B build .
          cmake --build build -j$(nproc)
  ubuntu-compat:
    runs-on: ubuntu-latest
    name: Build compatibility ${{ matrix.config.name }} ubuntu groovy
    container: ghcr.io/lnis-uofu/lsoracle-build:groovy
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: gcc-8
            cc: gcc-8
            cxx: g++-8
          - name: gcc-9
            cc: gcc-9
            cxx: g++-9
          - name: gcc-10
            cc: gcc-10
            cxx: g++-10
          - name: clang-8
            cc: clang-8
            cxx: clang++-8
          - name: clang-9
            cc: clang-9
            cxx: clang++-9
          - name: clang-10
            cc: clang-10
            cxx: clang++-10
          - name: clang-11
            cc: clang-11
            cxx: clang++-11
    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}
      CCACHE_COMPRESS: "true"
      CCACHE_COMPRESSLEVEL: "6"
      CCACHE_MAXSIZE: "400M"
      CCACHE_LOGFILE: ccache_log
      CCACHE_DIR: /__w/LSOracle/.ccache
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Load ccache
        uses: actions/cache@v2
        if: ${{ matrix.config.ccache }}
        with:
          path: |
            /__w/LSOracle/.ccache
          key: cicd_testing_${{matrix.config.name}}_${{matrix.config.image}}
      - name: Zero cache stats
        if: ${{ matrix.config.ccache }}
        run: |
          ccache -z
      - name: Build
        run: |
          cmake -DCMAKE_BUILD_TYPE=RELEASE -B build .
          cmake --build build -j$(nproc)
      - name: Cache stats
        if: ${{ matrix.config.ccache }}
        run: |
          ccache -s
