[submodule "bench/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark
[submodule "syrup"]
	path = syrup
	url = https://github.com/whaaswijk/glucose-syrup
[submodule "cryptominisat"]
	path = cryptominisat
	url = https://github.com/msoos/cryptominisat.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/whaaswijk/kitty
